@import '@fontsource/barlow-condensed/400.css';
@import '@fontsource/barlow-condensed/700.css';
@import '@fontsource/barlow-condensed/800.css';
@import '@fontsource/barlow-condensed/900.css';
@import '@fontsource-variable/manrope';

:root {
  font-family: 'Manrope Variable', 'Avenir Next', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
